.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(234, 238, 237);
}
.todo-app{
  height: 76%;
  width: 35%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  background-color: rgb(81, 5, 100);
  border-radius: 8px;
}
.todo-heading{
  height: 10%;
  font-size: 28px;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  color: #ddd;
  margin-left: 8px;
  display: flex;
  align-items: center;
}
.input-todo{
  height: 5%;
  display: flex;
  flex-direction: row;
  padding-left: 8px;
  border: none;
  margin-bottom: 28px;
}
.input-todo>input{
  width: 90%;
  outline: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid white;
  border-right: 1px solid rgb(81, 5, 100);
}
.input-todo>i{
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-left: 1px solid rgb(81, 5, 100);
  font-size: 22px;
  color: rgb(81, 5, 100);
  margin-right: 8px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.input-todo>i:hover{
  font-size: 24px;
}
.added-todo-container{
  height: 58px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  background-color:  rgb(117, 7, 145);
}
.added-todo{
  height: 32px;
  width: 100%;
  padding-left: 8px;
  display: flex;
  flex-direction: row;
}
.date-picker-box{
  height: 18px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  margin-top: 2px;
  margin-left: 32px;
  margin-right: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.inner-dates{
  display: flex;
  flex-direction: row;
}
.inner-dates-num{
  color: rgb(31, 32, 31);
  margin-left: 4px;
}
.checkbox{
  height: 20px;
  width: 20px;
  margin-right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}
.todo-text-comp{
  text-decoration: line-through;
  width: 86%;
  font-size: 16px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
}
.todo-txt{
  width: 86%;
  font-size: 16px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
}
.todo-txt-input{
  width: 80%;
  font-size: 16px;
  color: black;
  border-radius: 4px;
  outline: none;
  margin-right: 8px;
  font-family: Arial, Helvetica, sans-serif;
}
.todo-update{
  width: 8%;
  font-size: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-trash{
  width: 8%;
  font-size: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-solid:hover{
  font-size: 18px;
}
.DatePicker{
  width: 77%;
  font-size: 16px;
  color: black;
  border-radius: 4px;
  outline: none;
  margin-right: 8px;
  margin-left: 44px;
  font-family: Arial, Helvetica, sans-serif;
}